<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <title>{{ todo_list.name }} - Details</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todo_list.name }}</h1>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo_item in todo_items %}
                        <tr>
                            <td>{{ todo_item.task }}</td>
                            <td>{{ todo_item.due_date|date:"Y-m-d" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        <script src="" async defer></script>
    </body>
</html>
